.AdvertisementOne_main {
  height: 350px;
  width: 300px;
  background: white;

  margin: 18.5px;
}
.AdvertisementOne_header {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  padding: 15px;
}
.AdvertisementOne_body {
  padding-left: 15px;
}
.AdvertisementOne_footer {
  margin-top: 0px;
  padding: 15px;
  color: #16363c;
  font-size: 14px;
}
